@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    /* font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;*/
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #00CE3F;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
}

.area {
    margin: 0 auto;
    width: 75%;
}